
/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

/* Estilos de contenido principal  */

h1 {
    font-family: 'Alegreya', serif;
    color:  #025157;
	text-align: center;
    font-size: 60px;
    margin-bottom: 24px;
}

h4 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    color: #8b8b8bcc;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.signup-form{
    text-align: center;
}

input[type=email]{
    width: 250px;
    height: 54px;
    padding: 10px;
    border: 1px solid darkgrey;
    outline: 0px;
    border-radius: 8px 0px 0px 8px;
    margin-right: -3px;
}

button[type=submit] {
    width: 130px;
    height: 55px;
    padding: 10px;
    outline: 0px;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -2px;
    cursor: pointer;
}

button {
    color: #fff;
    background-color: #025157;
    padding: 0.4rem;
}

button:hover {
    background-color: #67b54b;
}

.margen {
    margin-left: 1rem;
}


section .email {
    color: #fff;
    background-color: #025157;
}  

.main {
    text-align: center;
    margin-top: 15rem;
}


.main>*{

    margin:10px 0 10px 0;
}

form{
    margin: 25px 0px;
    height: 55px;
}


img {
    vertical-align: middle;
    border-style: none;
}

.intro > img {
    width: 53rem;
    margin-top: 4rem;
}

figure {
    margin-top: 32 px;
    margin: 0 0 1rem;
    display: block;
}

/* Estilos para la promoción */

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    
}

.text-publish {
    font-family: 'Alegreya', serif;
    color:  #025157;
    font-weight: 900;
    font-size: 2rem;
}

.description {
    color: #343434;
    font-size: 1rem;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 1;
}

.publish {
    flex: 1;
}

.explanatory-video {
    width: 120px;
    margin-top: 10px;
}



/* Estilos de caracteristicas */

.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }

  /* Estilos para la funcionalidad */

  .functionality {
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
  }

  .functionality__title {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .functionality__description {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .functionality__button {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px 12px 6px 12px;
    height: 45px;
    border-radius: 8px;
    margin-top: 6px;
    border: none;
    padding: 6px 20px;
    cursor: pointer;
  }

  .steps {
      margin-top: 70px; 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-step {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }

  .card-step__image {
      position: relative;
      height: 350px;
  }

  .image-bg {
      width: 100%;
      height: 100%;
      vertical-align: middle;
  }

  .image-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
  }

  .card-step__body {
      padding: 25px;;
  }

    .card-title {
    font-size: 30px;
    line-height: 36px;
    color: #025157;
    text-align: center;
  }

  .card-description {
    font-size: 15px;
    color: #46484c;
    height: 85px;
  }

  .card-step__body a {
    color: #67b54b;
    font-weight: 600;
  }

  @media (max-width: 575px) {
      .navbar,
      .actions {
          display: none;
      }

      .main {
          margin-top: 11rem; 
      }

      .text_main {
          font-size: 1.875rem;
      }

      main h4 {
          font-size: 1.25rem;
      }

      input[type=email] {
          width: 100px;
          font-size: 0.6875rem;
      }

      .banner > img {
          width: 100%
      }

      figure.intro > img {
          width: 90%; 
      }

      /* Media queries previos al banner */

      .promo {
          flex-direction: column;
          max-width: 90%;
      }

      .explanatory-video {
        width: 100%;
      }

      .explanatory-video > video {
          width: 100%;
      }

      .explanatory-video > img {
          width: 60%;
      }

     .text-publish {
         font-size: 1.5625rem;
         margin-top: 15px;
     }

     .publish > form > input[type=email] {
         width: 70%;
         font-size: 0.9rem;
     }

     .main > form > input[type=email] {
         width: 40%;
         font-size: 0.9rem;
     }

     .features {
         grid-template: repeat(4, 1fr) / 1fr;
         padding-left: 0;
         padding-right: 0;
     }

     .feature-image {
         display: none;
     }

     .functionality {
         padding-left: 0;
         padding-right: 0;
     }

     .functionality__title {
         font-size: 1.875rem;
         margin-top: 1.5625rem;;
     }

     .functionality__description {
         max-width: 90%;
     }

     .steps {
         display: grid;
         grid-template: inherit;
         grid-gap: 20px;
     }

  }

  