* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbf7;
}

h1 {
    color:  #025157;
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

h5 {
    color: #a6aaaa; 
}

p {
    color: #46484c;
    font-size: 1.1rem;
}

section .email {
    color: #fff;
    background-color: #025157;
}  

.main {
    text-align: center;
    margin-top: 4rem;
}

.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
    padding-left: 1rem;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #676767;
    text-decoration: none;
    
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

